*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* background: rgb(2,0,36); */
    --clr-light: linear-gradient(to right, #59c173, #a17fe0, #5d26c1);
    /* --clr-light: linear-gradient(to left bottom, rgb(198, 236, 248), rgb(255, 255, 255)); */
    --clr-dark: #102c27;
    --clr-primary: white;
    --clr-secondary: #c3fcf2;
    --clr-accent: black;
    --price-color: #36c40f;

    --foreground: var(--clr-dark);
    --background: var(--clr-light);
}

#icon {
    width: 30px;
    cursor: pointer;
}

.darkmode {
    --clr-light: white;
    --clr-dark: #696d6c;
    --clr-primary: grey;
    --clr-secondary: #00100d;
    --clr-accent: white;
    --price-color: white;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

.card {
    /* margin: 0.1%; */
    /* padding-bottom: 0.5%; */
    margin-bottom: 1%;
    width: 100%;
    /* border: 1px solid var(--clr-secondary); */
    border-radius: 5px;
    background-color: var(--clr-primary);
    /* add a shadow */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
}

body {
    background: var(--background);
    color: var(--foreground);
    /* line-height: 1.6; */
    /* margin: 1%; */
    font-size: 16px;
    height: 100%;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    padding: 1.5rem;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.btn {
    padding: 1em 2em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    line-height: 1;
}


.btn-secondary {
    background: var(--foreground);
    color: var(--background);
    /* border: currentColor solid 2px; */
}

.btn-accent {
    background: var(--clr-accent);
    color: var(--foreground);
}

.btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -4px;
    top: 4px;
    border-radius: inherit;
    z-index: -1;
}

.footer_text {
    text-decoration: none;
    color: var(--clr-accent);
}

.link {
    text-decoration: none;
    color: var(--clr-accent);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.link:hover {
    color: var(--clr-accent);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.logo_img {
    width: 10%;
    height: auto;
    /* object-fit: cover; */
}

.item_image {
    width: auto;
    height: 100;
    object-fit: cover;
    padding: 5%;
    padding-left: 20%;
}

.listing_image {
    /* width: auto; */
    object-fit: cover;
    padding-left: 20%;
    /* padding-top: 5px; */
}

.cover {
    object-fit: cover;
    object-position: center;
}

.price {
    color: var(--price-color);
    font-weight: 700;
}

.table {
    --bs-table-color: var(--clr-accent);
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    color: var(--clr-accent);
}

img.graph {
    width: 60vw;
    margin: auto;
    display: block;
    border-radius: 5px;
    background-color: var(--clr-primary);
    /* add a shadow */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.table_profit_expense {
    text-align: center;
    justify-content: center;
    display: flex;
    border: var(--clr-accent) solid 1px;
    width: 52vw;
    margin: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

@media print {
    #printPageButton {
        display: none;
    }
}

#aboutModalInner {
    position: fixed;
    width: auto;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 36%;
    margin-top: 10%;
}

.modal-body {
    color: black;
    border-radius: 5px;
}

.tales {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    max-height: 400px !important;
}

/* Password Strength */

.loginForm input[type=submit] {
    background: #fb044a;
    color: #fff;
    font-weight: 700;
}


#pswd_info {
    background: #ffffff none repeat scroll 0 0;
    color: #fff;
    position: absolute;
    top: 480px;
    right: 465px;
    border-radius: 10px;
    padding: 10px;
}

#pswd_info h4 {
    background: #157347 none repeat scroll 0 0;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    padding: 17px;
    text-align: center;
    text-transform: uppercase;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


#pswd_info ul {
    list-style: outside none none;
}


.valid {
    background: rgba(0, 0, 0, 0) url("https://s19.postimg.org/vq43s2wib/valid.png") no-repeat scroll 2px 6px;
    color: #157347;
    line-height: 21px;
    /* padding-left: 22px; */
    text-align: left;
}

.invalid {
    background: rgba(0, 0, 0, 0) url("https://s19.postimg.org/olmaj1p8z/invalid.png") no-repeat scroll 2px 6px;
    color: red;
    line-height: 21px;
    /* padding-left: 22px; */
    text-align: left;
}


#pswd_info::before {
    background: #ffffff none repeat scroll 0 0;
    content: "";
    height: 25px;
    left: -13px;
    margin-top: -12.5px;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 25px;
}

#pswd_info {
    display: none;
}

.not-visible {
    display: none !important;
}

.checked {
    color: red !important;
}

.star-btn {
    background-color: inherit !important;
    border: 0 !important;
    padding: 0 !important;
}

.like_dislike {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    /* Animate when clicked */
}

.like_dislike:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}