*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* background: rgb(2,0,36); */
    --clr-light: linear-gradient(to right, #59c173, #a17fe0, #5d26c1);
    /* --clr-light: linear-gradient(to left bottom, rgb(198, 236, 248), rgb(255, 255, 255)); */
    --clr-dark: #102c27;
    --clr-primary: white;
    --clr-secondary: #c3fcf2;
    --clr-accent: black;
    --price-color: #36c40f;

    --foreground: var(--clr-dark);
    --background: var(--clr-light);
}

#icon {
    width: 30px;
    cursor: pointer;
}

.darkmode {
    --clr-light: white;
    --clr-dark: #696d6c;
    --clr-primary: grey;
    --clr-secondary: #00100d;
    --clr-accent: white;
    --price-color: white;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

.card {
    /* margin: 0.1%; */
    /* padding-bottom: 0.5%; */
    margin-bottom: 1%;
    width: 100%;
    /* border: 1px solid var(--clr-secondary); */
    border-radius: 5px;
    background-color: var(--clr-primary);
    /* add a shadow */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
}

body {
    background: var(--background);
    color: var(--foreground);
    /* line-height: 1.6; */
    /* margin: 1%; */
    font-size: 16px;
    height: 100%;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    padding: 1.5rem;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


.btn {
    padding: 1em 2em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    line-height: 1;
}


.btn-secondary {
    background: var(--foreground);
    color: var(--background);
    border: currentColor solid 2px;
}

.btn-accent {
    background: var(--clr-accent);
    color: var(--foreground);
}

/*
.btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -4px;
    top: 4px;
    border-radius: inherit;
    z-index: -1;
}
*/

.footer_text {
    text-decoration: none;
    color: var(--clr-accent);
}

.footer_icons:hover {
    color: var(--clr-primary);
}

.link {
    text-decoration: none;
    color: var(--clr-accent);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.link:hover {
    color: var(--clr-accent);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.logo_img {
    width: 10%;
    height: auto;
    /* object-fit: cover; */
}

.item_image {
    /* width: auto;
    height: 100; */
    object-fit: cover;
    padding: 5%;
    padding-left: 20%;
}

.listing_image {
    /* width: auto; */
    object-fit: cover;
    padding-left: 20%;
    /* padding-top: 5px; */
}

.cover {
    object-fit: cover;
    object-position: center;
}

.price {
    color: var(--price-color);
    font-weight: 700;
}

.table {
    --bs-table-color: var(--clr-accent);
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    color: var(--clr-accent);
}

img.graph {
    width: 60vw;
    margin: auto;
    display: block;
    border-radius: 5px;
    background-color: var(--clr-primary);
    /* add a shadow */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.table_profit_expense {
    text-align: center;
    justify-content: center;
    display: flex;
    border: var(--clr-accent) solid 1px;
    width: 52vw;
    margin: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

@media print {
    #printPageButton {
        display: none;
    }
}

#aboutModalInner {
    position: fixed;
    width: auto;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 36%;
    margin-top: 10%;
}

.modal-body {
    color: black;
    border-radius: 5px;
}

.tales {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    max-height: 400px !important;
}

/* Password Strength */

.loginForm input[type=submit] {
    background: #fb044a;
    color: #fff;
    font-weight: 700;
}


#pswd_info {
    background: #ffffff none repeat scroll 0 0;
    color: #fff;
    position: absolute;
    top: 480px;
    right: 465px;
    border-radius: 10px;
    padding: 10px;
}

#pswd_info h4 {
    background: #157347 none repeat scroll 0 0;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    padding: 17px;
    text-align: center;
    text-transform: uppercase;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


#pswd_info ul {
    list-style: outside none none;
}


.valid {
    background: rgba(0, 0, 0, 0) url("https://s19.postimg.org/vq43s2wib/valid.png") no-repeat scroll 2px 6px;
    color: #157347;
    line-height: 21px;
    /* padding-left: 22px; */
    text-align: left;
}

.invalid {
    background: rgba(0, 0, 0, 0) url("https://s19.postimg.org/olmaj1p8z/invalid.png") no-repeat scroll 2px 6px;
    color: red;
    line-height: 21px;
    /* padding-left: 22px; */
    text-align: left;
}


#pswd_info::before {
    background: #ffffff none repeat scroll 0 0;
    content: "";
    height: 25px;
    left: -13px;
    margin-top: -12.5px;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 25px;
}

#pswd_info {
    display: none;
}

.not-visible {
    display: none !important;
}

.checked {
    color: red !important;
}

.star-btn {
    background-color: inherit !important;
    border: 0 !important;
    padding: 0 !important;
}

.like_dislike {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    /* Animate when clicked */
}

.like_dislike:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

/* 
  #002f4b,#dc4225 
  Convert HEX to RGBA - http://hex2rgba.devoth.com/
  */
.carousel-item:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;

    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,
            rgba(255, 255, 255, 0),
            rgba(12, 245, 43, 0.521) 90%);
}

#options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

mark {
    background-color: hsl(60, 100%, 50%);
    color: black;
}

#listings-tab,
#billing-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    color: black;
}

/* when aria selected is false for listings-tab */
#listings-tab[aria-selected="false"],
#billing-tab[aria-selected="false"] {
    background-color: #b1b1b1b2;
}

td,
th {
    text-align: center;
    vertical-align: middle;
}

tr:hover {
    background-color: lightyellow;
}

::selection {
    /* Change highlight background color to black */
    background: #c9f0dd;
}

.gradient-border {
    --border-width: 5px;


    border-radius: var(--border-width);
}

.gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg,
            hsl(224, 85%, 66%),
            hsl(269, 85%, 66%),
            hsl(314, 85%, 66%),
            hsl(359, 85%, 66%),
            hsl(44, 85%, 66%),
            hsl(89, 85%, 66%),
            hsl(134, 85%, 66%),
            hsl(179, 85%, 66%));
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
}


@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}


.wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper:focus,
.wrapper:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

.wrapper {
    display: inline-flex;
    list-style: none;
}

.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
}

.wrapper .twit:hover,
.wrapper .twit:hover .tooltip,
.wrapper .twit:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
}

.wrapper .insta:hover,
.wrapper .insta:hover .tooltip,
.wrapper .insta:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
}


/* Remove the link */
a {
    color: inherit;
    /* text-decoration: none; */
}

a:hover {
    color: inherit;
    /* text-decoration: none; */
}


.alert>.start-icon {
    margin-right: 0;
    min-width: 20px;
    text-align: center;
}

.alert>.start-icon {
    margin-right: 5px;
}

.greencross {
    font-size: 18px;
    color: #25ff0b;
    text-shadow: none;
}

.alert-simple.alert-success {
    border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12156862745098039);
    box-shadow: 0px 0px 2px #259c08;
    color: #0ad406;
    text-shadow: 2px 1px #00040a;
    transition: 0.5s;
    cursor: pointer;
}

.alert-success:hover {
    background-color: rgba(7, 149, 66, 0.35);
    transition: 0.5s;
}

.alert-simple.alert-info {
    border: 1px solid rgba(6, 44, 241, 0.46);
    background-color: rgba(7, 73, 149, 0.12156862745098039);
    box-shadow: 0px 0px 2px #0396ff;
    color: #0396ff;
    text-shadow: 2px 1px #00040a;
    transition: 0.5s;
    cursor: pointer;
}

.alert-info:hover {
    background-color: rgba(7, 73, 149, 0.35);
    transition: 0.5s;
}

.blue-cross {
    font-size: 18px;
    color: #0bd2ff;
    text-shadow: none;
}

.alert-simple.alert-warning {
    border: 1px solid rgba(241, 142, 6, 0.81);
    background-color: rgba(220, 128, 1, 0.16);
    box-shadow: 0px 0px 2px #ffb103;
    color: #ffb103;
    text-shadow: 2px 1px #00040a;
    transition: 0.5s;
    cursor: pointer;
}

.alert-warning:hover {
    background-color: rgba(220, 128, 1, 0.33);
    transition: 0.5s;
}

.warning {
    font-size: 18px;
    color: #ffb40b;
    text-shadow: none;
}

.alert-simple.alert-danger {
    border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
    box-shadow: 0px 0px 2px #ff0303;
    color: #ff0303;
    text-shadow: 2px 1px #00040a;
    transition: 0.5s;
    cursor: pointer;
}

.alert-danger:hover {
    background-color: rgba(220, 17, 1, 0.33);
    transition: 0.5s;
}

.danger {
    font-size: 18px;
    color: #ff0303;
    text-shadow: none;
}

.alert-simple.alert-primary {
    border: 1px solid rgba(6, 241, 226, 0.81);
    background-color: rgba(1, 204, 220, 0.16);
    box-shadow: 0px 0px 2px #03fff5;
    color: #03d0ff;
    text-shadow: 2px 1px #00040a;
    transition: 0.5s;
    cursor: pointer;
}

.alert-primary:hover {
    background-color: rgba(1, 204, 220, 0.33);
    transition: 0.5s;
}

.alertprimary {
    font-size: 18px;
    color: #03d0ff;
    text-shadow: none;
}

.square_box {
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-left-radius: 45px;
    opacity: 0.302;
}

.square_box.box_three {
    background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    opacity: 0.059;
    left: -80px;
    top: -60px;
    width: 500px;
    height: 500px;
    border-radius: 45px;
}

.square_box.box_four {
    background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    opacity: 0.059;
    left: 150px;
    top: -25px;
    width: 550px;
    height: 550px;
    border-radius: 45px;
}

.alert:before {
    content: '';
    position: absolute;
    width: 0;
    height: calc(100% - 44px);
    border-left: 1px solid;
    border-right: 2px solid;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: 20px;
}

.fa-times {
    -webkit-animation: blink-1 2s infinite both;
    animation: blink-1 2s infinite both;
}


/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

strong {
    font-weight: bold;
}








/* HOMEPAGE CSS */
/* @charset "utf-8"; */

/******* Fonts Import Start **********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/********* Fonts Face CSS End **********/

/******* Common Element CSS Start ******/

.clear {
    clear: both;
}

img {
    max-width: 100%;
    border: 0px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: underline;
    color: inherit;
    outline: none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

a:focus,
a:active,
a:visited,
a:hover {
    text-decoration: none;
    outline: none;
}

a:hover {
    /* color: #e73700; */
}

h2 {
    margin-bottom: 48px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
}

h3 {
    margin: 0 0 10px;
    font-size: 28px;
    line-height: 36px;
}

/******* Common Element CSS End *********/

/* -------- title style ------- */
.line-title {
    position: relative;
    width: 400px;
}

.line-title::before,
.line-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 2px;
}

.line-title::before {
    width: 100%;
    background: #f2f2f2;
}

.line-title::after {
    width: 32px;
    background: #a200ff;
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
    padding: 60px 50px;
}

.game-section .owl-stage {
    margin: 15px 0;
    display: flex;
    display: -webkit-flex;
}

.game-section .item {
    margin: 0 15px 60px;
    width: 320px;
    height: 400px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    /* background: #bbbbbb no-repeat center center / cover; */
    background: #78d3c5 no-repeat center center / cover;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.game-section .item.active {
    /* width: 500px; */
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.item:hover {
    transform: scale(.95);
}

.game-section .item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(rgba(255, 6, 6, 0), rgba(0, 0, 0, 1));
}

.game-section .item-desc {
    padding: 0 24px 12px;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform: translateY(calc(100% - 54px));
    -webkit-transform: translateY(calc(100% - 54px));
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.game-section .item.active .item-desc {
    transform: none;
    -webkit-transform: none;
}

.game-section .item-desc p {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
    transition: all 0.4s ease-in-out 0.2s;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
}

.game-section .item.active .item-desc p {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.game-section .owl-theme.custom-carousel .owl-dots {
    margin-top: -20px;
    position: relative;
    z-index: 5;
}

/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
    h2 {
        margin-bottom: 32px;
    }

    h3 {
        margin: 0 0 8px;
        font-size: 24px;
        line-height: 32px;
    }

    /* -------- Landing page ------- */
    .game-section {
        padding: 50px 30px;
    }

    .game-section .item {
        margin: 0 12px 60px;
        width: 260px;
        height: 360px;
    }

    .game-section .item.active {
        width: 250px;
    }

    .game-section .item-desc {
        transform: translateY(calc(100% - 46px));
        -webkit-transform: translateY(calc(100% - 46px));
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    h2 {
        margin-bottom: 32px;
    }

    h3 {
        margin: 0 0 8px;
        font-size: 24px;
        line-height: 32px;
    }

    .line-title {
        width: 330px;
    }

    /* -------- Landing page ------- */
    .game-section {
        padding: 50px 30px 40px;
    }

    .game-section .item {
        margin: 0 12px 60px;
        width: 240px;
        height: 330px;
    }

    .game-section .item.active {
        width: 360px;
    }

    .game-section .item-desc {
        transform: translateY(calc(100% - 42px));
        -webkit-transform: translateY(calc(100% - 42px));
    }
}

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    h2 {
        margin-bottom: 20px;
    }

    h3 {
        margin: 0 0 8px;
        font-size: 19px;
        line-height: 24px;
    }

    .line-title {
        width: 250px;
    }

    /* -------- Landing page ------- */
    .game-section {
        padding: 30px 15px 20px;
    }

    .game-section .item {
        margin: 0 10px 40px;
        width: 200px;
        height: 280px;
    }

    .game-section .item.active {
        width: 270px;
        box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    }

    .game-section .item-desc {
        padding: 0 14px 5px;
        transform: translateY(calc(100% - 42px));
        -webkit-transform: translateY(calc(100% - 42px));
    }
}

#filter-button {
    color: #ffca2c;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 2px solid #ffca2c;
    border-radius: 4px;
    cursor: pointer;
}

#filter-button:hover {
    color: #fff;
    background-color: #ffca2c;
}

.hex img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.hexagon-gallery {
    margin: auto;
    margin-top: 50px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 14px;
    padding-bottom: 50px;
}

.hex {
    display: flex;
    position: relative;
    width: 240px;
    height: 265px;
    background-color: #424242;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.hex:first-child {
    grid-row-start: 1;
    grid-column: 2 / span 2;
}

.hex:nth-child(2) {
    grid-row-start: 1;
    grid-column: 4 / span 2;
}

.hex:nth-child(3) {
    grid-row-start: 1;
    grid-column: 6 / span 2;
}

.hex:nth-child(4) {
    grid-row-start: 2;
    grid-column: 1 / span 2;
}

.hex:nth-child(5) {
    grid-row-start: 2;
    grid-column: 3 / span 2;
}

.hex:nth-child(6) {
    grid-row-start: 2;
    grid-column: 5 / span 2;
}

.hex:nth-child(7) {
    grid-row-start: 2;
    grid-column: 7 / span 2;
}

.hex:nth-child(8) {
    grid-row-start: 3;
    grid-column: 2 / span 2;
}

.hex:nth-child(9) {
    grid-row-start: 3;
    grid-column: 4 / span 2;
}

.hex:nth-child(10) {
    grid-row-start: 3;
    grid-column: 6 / span 2;
}


.hex:nth-child(11) {
    grid-row-start: 4;
    grid-column: 3 / span 2;
}

.hex:nth-child(12) {
    grid-row-start: 4;
    grid-column: 5 / span 2;
}