{% extends "auctions/layout.html" %} {% block body %}

<div class="container">
  <div class="row">
    {% for category in all_categories %}
    <div class="col-sm-4">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-center">
            <a class="link" href="{% url 'categories' %}?category={{category.id}}"
              >{{ category }}</a
            >
          </h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
