{% extends "auctions/layout.html" %} 
{% load static %}
{% load crispy_forms_tags %} {% block body %}
{% include 'auctions/messages.html' %}

<form action="{% url 'auctions:create' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>{{ title }}</h3> 
  <hr>
  <div class="form-control" style="padding-top: 15px;">
        {{ form.title |as_crispy_field }} 
        <br>
        {{form.media}}
        {{ form.description |as_crispy_field }}
        <br>
        {{form.bid_start |as_crispy_field }} 
        <br>
        {{ form.category |as_crispy_field }} 
        <br>
        {{form.image |as_crispy_field }}
        <p>Note: The background of the image will be removed.</p>
        
        {{form.tags |as_crispy_field }}
        <br>
    
        <div>
            <input data-toggle="tooltip" data-placement="right" title="Submit a Listing."type="submit" class="btn btn-success rounded-pill" style="padding: 0.5em; margin: 5px"/> 
            {% comment %} Cancel button {% endcomment %}
            <a href="{% url 'auctions:index' %}" class="btn btn-danger rounded-pill" data-toggle="tooltip" data-placement="right" title="Cancel" style="padding: 0.5em; ">Cancel</a>
            <a data-toggle="tooltip" data-placement="top" title="Import Listings from a CSV file. Use the predefined template." 
                class="btn btn-primary btn-sm rounded-pill" href= "{% url 'auctions:import_csv' %}" style="padding: 0.5em; margin: 5px"> Import from a CSV  <i class="fa-solid fa-file-import"></i></a>
        </div>
        <br>

    </div>

</form>

{% endblock %}
