{% extends "auctions/layout.html" %}

{% load crispy_forms_tags %}

{% block body %}

<form action="{% url 'create' %}" method="post" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="form-control">
        {{ form.title |as_crispy_field }}

        {{ form.description |as_crispy_field }}

        {{ form.bid_start |as_crispy_field }}

        {{ form.category |as_crispy_field }}

        {{ form.image|as_crispy_field }}
        <br>
        <input type="submit" class="btn btn-success">
    </div>
</form>

{% endblock %}