{% extends "auctions/layout.html" %}

{% load crispy_forms_tags %}

{% block body %}

<form action="{% url 'create' %}" method="post" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="col-6">
        {{ form.title |as_crispy_field }}
    </div>

    <div class="col-6">
        {{ form.description |as_crispy_field }}
    </div>

    <div class="col-2">
        {{ form.bid_start |as_crispy_field }}
    </div>

    <div class="col-2">
        {{ form.category |as_crispy_field }}


    </div>

    <div class="col-2">
        {{ form.image|as_crispy_field }}
    </div>
    <br>
    <input type="submit" class="btn btn-success">

</form>

{% endblock %}