{% extends "auctions/layout.html" %} {% block body %}
{% load static %}
{% load humanize %}

<div class="nav">
    <div>
    <h1> Expense Report </h1>
    </div>
    <div  class="ms-auto">
        <form >
            <input id="printPageButton" type=button value="Print me!" onClick="window.print()" >
        </form>
    </div>
</div>

<div class="table_profit_expense">
    <table class="table table-striped">
        <thead  class="table_text">
            <tr>
                <th scope="col">User</th>
                <th scope="col">Expense</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.user }}</td>
                <td>{{ expense.expense }}</td>
                <td>{{ expense.date }}</td>
            </tr>
            {% endfor %}
            {% comment %} Show the Total Expenses {% endcomment %}
            <tr>
                <td><strong>Total Profits</strong></td>
                <td><strong> $ {{ total }} </strong></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<img class="graph" src="data:image/png;base64,{{ image }}">

{% endblock %}
