{% extends "auctions/layout.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% crispy filter.form %}
{% block body %}
{% load humanize %}

{% include 'auctions/messages.html' %}
    <form method="get" class="form-control" style="width:800px; margin:0 auto; margin-bottom: 1%">
        
        {% csrf_token %}

        <div class="row g-3" style="margin-bottom: 15px; margin-top: 0px">
            <div class="col">
                {{filter.form.bid_start__lte | as_crispy_field}} 
            </div>
            <div class="col">
                {{filter.form.bid_start__gte | as_crispy_field}}
            </div>
        </div>
        <div class="row g-3" style="margin-bottom: 15px">
            <div class="col">
                {{filter.form.bid_current__lte | as_crispy_field}} 
            </div>
            <div class="col">
                {{filter.form.bid_current__gte | as_crispy_field}}
            </div>
        </div>
        <div class="row g-3" style="margin-bottom: 15px">
            <div class="col">
                {{filter.form.created_date__year__lte | as_crispy_field}}
            </div>
            <div class="col">
                {{filter.form.created_date__year__gte | as_crispy_field}}
            </div>
        </div>
        
        <div>
            <input type="submit" class="btn btn-primary btn-sm rounded-pill" style="padding: 0.5em; margin: 5px; margin:0 auto;" />
            <input type="reset" class="btn btn-warning btn-sm rounded-pill" style="padding: 0.5em; margin: 5px; margin:0 auto;">
        </div>
    </form>
    
    {% for listing in filter.qs %}
    <div class="row">
        <div class="listings card">
            <div class="row no-gutters">
                <div class="col-sm-6">
                    <img class="item_image" class="card-img-top" src="{{ listing.image.url }}" alt="Image" />
                </div>
                <div class="col-sm-6">
                    <div class="card-body">
                            <a href="{% url 'listing' listing.id %}" class="link">
                                <h5 class="card-title" style="text-transform: capitalize">{{ listing.title }} 
                                {% if listing.active %}
                                    <span class="badge" style="background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d;">NEW </span></h5>
                                {% else %}
                                    <span class="badge" style="background-color: #fff3cd;border-color: #ffecb5;color: #664d03;">CLOSED</span></h5>
                                {% endif %}

                            </a>
                            <p class="card-text" style="text-transform:first-letter: capitalize">{{ listing.description | safe}}</p>
                            {% if listing.bid_current is None %}
                                <h4 class="card-title price">USD ${{ listing.bid_start |floatformat:2|intcomma}}</h4>
                            {% else %}
                                <h4 class="card-title price" id="price" >USD ${{ listing.bid_current |floatformat:2|intcomma}}</h4>
                            {% endif %}
                            <p>
                                <footer class="footer_text card-footer"><small>Created on {{ listing.created_date|date:"M, d, Y g:i a" }}</small></footer>
                    </div>
                            <p>
                    </div>
                

                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}