{% extends "auctions/layout.html" %} {% block body %} {% load static %}
{% include 'auctions/messages.html' %}
<form
  action="{% url 'import_csv' %}"
  method="post"
  enctype="multipart/form-data"
  class="col-sm-4"
>
  {% csrf_token %} 
  {% if message %}
  <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endif %}
  <div class="mb-3">
    <label for="csv_file">Select CSV File for Data Import: </label>
    <input class="form-control" type="file"
      type="file"
      name="csv_file"
      id="csv_file"
      style="margin-right: 5px; margin-bottom: 10px"
    />
    <input
      data-toggle="tooltip"
      data-placement="right"
      title="Import CSV File."
      type="submit"
      style="padding: 0.5em; width: 100px"
      class="btn btn-success"
    />
  </div>
</form>
<br />
<a style="color: white; text-decoration: none" href="{% static 'files/listings_template.csv' %}">Download Template <i class="fa-solid fa-download"></i></a>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });

  setTimeout(function(){
    if ($('#msg').length > 0) {
      $('#msg').fadeOut();
    }
  }, 2000)

</script>

{% endblock %}
