{% extends "auctions/layout.html" %} {% block body %} {% comment %} Search bar
to return listings matching search keywords {% endcomment %}
<br />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="/search" method="get">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            name="q"
            placeholder="Search for Listings...   🔎"
          />
          <button class="btn btn-primary" type="submit">Go!</button>
        </div>
      </form>
    </div>
  </div>
  <br />
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="true"
    style="height: 50%"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
    </div>
    <div class="carousel-inner">
      <div
        class="carousel-item active"
        data-bs-interval="5000"
        style="min-height: 280px"
      >
        <img
          src="https://images.unsplash.com/photo-1551269901-5c5e14c25df7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
          class="d-block w-100 tales"
          alt="..."
        />
      </div>
      <div
        class="carousel-item"
        data-bs-interval="5000"
        style="min-height: 280px"
      >
        <img
          src="https://images.unsplash.com/photo-1533462392871-5a6c02e7132d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          class="d-block w-100 tales"
          alt="..."
        />
      </div>
      <div
        class="carousel-item"
        data-bs-interval="5000"
        style="min-height: 280px"
      >
        <img
          src="https://images.unsplash.com/photo-1653999284367-0a7f60c71b6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          class="d-block w-100 tales"
          alt="..."
        />
      </div>
      <div
        class="carousel-item"
        data-bs-interval="5000"
        style="min-height: 280px"
      >
        <img
          src="https://images.unsplash.com/photo-1595123550441-d377e017de6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1606&q=80"
          class="d-block w-100 tales"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<script>
  document.onkeyup = function(e) {
    if (e.ctrlKey && e.which == 67) {
      window.location.href = "{% url 'create' %}";
      // alert("Ctrl + B shortcut combination was pressed");
    }
  };
</script>

{% endblock %}


