{% extends "auctions/layout.html" %}
{% load static %} 
{% block body %}

{% include 'auctions/messages.html' %}
<br />
<div class="container">
  <div class="row" style="margin-top: 0" >
    <div class="col-md-12">
      <form action="/search" method="get">
        <div class="input-group">
          <input
          data-toggle="tooltip" data-placement="top" title="Search for a Listing" 
            type="text"
            class="form-control"
            name="q"
            placeholder="Search for Listings...   🔎"
          />
          <button class="btn btn-primary" type="submit">Go!</button>
          <a href="/filter" data-toggle="tooltip" data-placement="top" title="Advanced Listing Filter"  id="filter-button" class="btn" type="submit"><i class="fa-solid fa-filter"></i></a>
        </div>
      </form>
    </div>
  </div>
</div>

<section class="hexagon-gallery">
      {% for category in categories %}
      

        <div class="hex">
          <a  href="{% url 'auctions:categories' %}?category={{category.id}}"><img id="hex-img" src="{{ category.image.url }}"></a>
          <div class="hex-content">
            <h3>{{category.category}}</h3>
          
          </div>
        </div>
      
   
      {% endfor %}
  </section>


<section class="game-section">
  <h2 class="line-title">trending listings</h2>
  <div class="owl-carousel custom-carousel owl-theme">

    <div class="item active" style="background-image: url(https://upload.wikimedia.org/wikipedia/tr/thumb/e/e0/Call_of_Duty_Modern_Warfare_II_Kapak_Resmi.jpg/208px-Call_of_Duty_Modern_Warfare_II_Kapak_Resmi.jpg);">
      <div class="item-desc">
        <h3>Modern Warefare II</h3><hr/>
        <p>
          Modern Warfare II is a first-person shooter video game developed by Infinity Ward and published by Activision. It is the sixth installment in the 
          Call of Duty series and the direct sequel to 2009's Call of Duty: Modern Warfare, continuing the same storyline.
        </p>
      </div>
    </div>

    <div class="item" style="background-image: url(https://upload.wikimedia.org/wikipedia/en/a/a8/Day_Z_cover.jpg);">
      <div class="item-desc">
        <h3>DayZ</h3><hr/>
        <p>
          DayZ is a multiplayer open world survival video game developed and published by Bohemia Interactive. The game is set in a post-Soviet state
          in the fictional country of Chernarus, where a mysterious virus has turned most of the population into zombies.
        </p>
      </div>
    </div>

    <div class="item" style="background-image: url(https://m.media-amazon.com/images/M/MV5BYWQyNTY1NzAtMGJiYi00ZTcwLWE0ZjktYjY4YTZkMzA1YzZmXkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_.jpg);">
      <div class="item-desc">
        <h3>GTA V</h3><hr/>
        <p>
          GTA V is an action-adventure video game developed by Rockstar North and published by Rockstar Games. It is the first main entry in the Grand Theft Auto
          series since 2008's Grand Theft Auto IV. Set within the fictional state of San Andreas, based on Southern California, the single-player story follows
          three criminals and their efforts to commit heists while under pressure from a government agency.
        </p>
      </div>
    </div>

    <div class="item" style="background-image: url(https://ucarecdn.com/75d7700d-c102-40ff-9ba1-f0641444c616/dota2.jpg);">
      <div class="item-desc">
        <h3>Dota 2</h3><hr/>
        <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
          Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
      </div>
    </div>

    <div class="item" style="background-image: url(https://ucarecdn.com/2a5f69bc-befa-49f4-acc6-ab1dcae514c7/winter3.jpg);">
      <div class="item-desc">
        <h3>The Witcher 3</h3><hr/>
        <p>The Witcher 3 is a multiplayer online battle arena by Valve. The game is a sequel to Defense
          of the Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
      </div>
    </div>
    <div class="item" style="background-image: url(https://ucarecdn.com/ec1918b1-2674-452c-bf61-8f73d8cc40c6/rdr2.jpg);">
      <div class="item-desc">
        <h3>RDR 2</h3><hr/>
        <p>RDR 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
          Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
      </div>
    </div>
    <div class="item" style="background-image: url(https://ucarecdn.com/6ba9052d-6105-4491-917b-e1a65b68f920/pubg.jpg);">
      <div class="item-desc">
        <h3>PUBG Mobile</h3><hr/>
        <p>PUBG 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
          Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
      </div>
    </div>

    <div class="item" style="background-image: url(https://ucarecdn.com/77598be3-c67f-40de-83d3-71a0f2f76c56/fortnite.jpg);">
      <div class="item-desc">
        <h3>Fortnite</h3><hr/>
        <p>Battle royale where 100 players fight to be the last person standing. which was a community-created mod
          for Blizzard Entertainment's Warcraft III.</p>
      </div>
    </div>

    <div class="item" style="background-image: url(https://ucarecdn.com/ed548880-32e4-42af-9d4e-632623903256/farcry5.jpg);">
      <div class="item-desc">
        <h3>Far Cry 5</h3><hr/>
        <p>Far Cry 5 is a 2018 first-person shooter game developed by Ubisoft.
          which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
      </div>
    </div>

    {% for listing in listings%}   
      <div class="item" style="background-image: url('{{listing.image.url}}'); background-size: auto;">
        <div class="item-desc">
          <h3>{{ listing.title }} </h3>
          <hr/>
          <p>{{ listing.description | safe}}</p>
        </div>
      </div>
      {% endfor %}


  </div>
  </div>
</section>



{% endblock %}



