{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% comment %} <title>{% block title %}Auctions{% endblock %}</title> {% endcomment %}
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/25ae4408a9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link rel="icon" href="{% static 'img/bbay.ico' %}" />
    
  </head>


  



  

  <body class="body">
    <div class="ms-auto" style="color: white; margin-top: 0px">
      {% if user.is_authenticated %} Hi, &nbsp
      
      <a
        href="{% url 'user_profile' user.id %}"
        class="btn btn-warning btn-sm"
        style="padding: 0.5em; margin-bottom: 0.5em"
        role="button"
        ><b style="text-transform: capitalize; font-weight: bold"
          > {{ user.username }} &nbsp</b
        ><i class="fa-solid fa-user"></i></a
      >
      <p>
        <a class="btn btn-danger btn-sm" style="padding: 0.5em" href="{% url 'logout' %}">Log Out <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
      {% else %}
        <p>👋 Not Signed In.</p>
        <a class="btn btn-success btn-sm" style="padding: 0.5em" href="{% url 'login' %}">Log In <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
        <a class="btn btn-primary btn-sm" style="padding: 0.5em" href="{% url 'register' %}">Register <i class="fa-solid fa-user-plus"></i></a>
      </p>
       {% endif %}
    </div>
    <h1>
      <a class="link" href="{% url 'index' %}"
        ><img class="logo_img" src="{% static 'img/bbay.png' %}" alt="logo" height="10 px" width="10 px"
      /></a>
    </h1>


    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        {% comment %} <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'img/bbay.png' %}" alt="Logo" height="24" class="d-inline-block align-text-top">
        </a> {% endcomment %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link link" href="{% url 'index' %}"><i class="fa-solid fa-house"></i> &nbspHome </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link" href="{% url 'listings' %}"><i class="fa-solid fa-list"></i>&nbspActive Listings </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link" href="{% url 'categories' %}"><i class="fa-solid fa-tags"></i>&nbspCategories </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link link" href="{% url 'watchlist' %}"
                ><i class="fa-solid fa-binoculars"></i> &nbspWatchlist 
                <span
                  style="margin-left: 9px"
                  class="position-absolute top-10 start-30 translate-middle badge rounded-pill bg-danger"
                  >{{ request.session.watchlist_count }}
                </span> 
              </a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link link" style="margin-left: 10px" href="{% url 'create' %}"><i class="fa-solid fa-circle-plus"></i>&nbspCreate Listing </a>
            </li>
      
            <li class="nav-item dropdown link" style="z-index: 1000">
              <a
                class="nav-link dropdown-toggle link"
                id="navbarDarkDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              <i class="fa-solid fa-chart-column"></i>&nbspReports 
              </a>
              <ul
                class="dropdown-menu dropdown-menu-dark"
                aria-labelledby="navbarDarkDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="{% url 'profits' %}">Profits 💰</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'expenses' %}">Expenses 💸</a>
                </li>
              </ul>
            </li>
            {% endif %} 
            
          </ul>  
            
            {% if not request.path == '/' %}
            <ul class="navbar-nav">
              <li class="nav-item" >
                <form class="d-flex" action="{% url 'search' %}" method="GET" >
                  <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search for Listings...   🔎"
                    aria-label="Search"
                    name="q"
                  />
                  <button style="padding: 0.5em" class="btn btn-success" type="submit">Search</button>
                  <li class="nav-item ms-auto" style="padding-left: 50px">
                    <img src="{% static 'img/moon.svg' %}" id="icon" />
                  </li>
                </form>
              </li>
            </ul>
            {% endif %}
          
        </div>
      </div>
    </nav>


  <hr>

    {% comment %} <ul class="nav ">
      <li class="nav-item">
        <a class="nav-link link" href="{% url 'index' %}"><i class="fa-solid fa-house"></i> &nbspHome </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link" href="{% url 'listings' %}"><i class="fa-solid fa-list"></i>&nbspActive Listings </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link" href="{% url 'categories' %}"><i class="fa-solid fa-tags"></i>&nbspCategories </a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link link" href="{% url 'watchlist' %}"
          ><i class="fa-solid fa-binoculars"></i> &nbspWatchlist 
          <span
            style="margin-left: 9px"
            class="position-absolute top-10 start-30 translate-middle badge rounded-pill bg-danger"
            >{{ request.session.watchlist_count }}
          </span> 
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link link" href="{% url 'create' %}"> <i class="fa-solid fa-circle-plus"></i>&nbspCreate Listing </a>
      </li>

      <li class="nav-item dropdown link" style="z-index: 1000">
        <a
          class="nav-link dropdown-toggle link"
          id="navbarDarkDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
        <i class="fa-solid fa-chart-column"></i>&nbspReports 
        </a>
        <ul
          class="dropdown-menu dropdown-menu-dark"
          aria-labelledby="navbarDarkDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="{% url 'profits' %}">Profits 💰</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'expenses' %}">Expenses 💸</a>
          </li>
        </ul>
      </li>
      {% endif %} 
      
      
      
      {% if not request.path == '/' %}
      <div class="ms-auto">
        <li class="nav-item">
          <form class="d-flex" action="{% url 'search' %}" method="GET" >
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search for Listings...   🔎"
              aria-label="Search"
              name="q"
            />
            <button style="padding: 0.5em" class="btn btn-success" type="submit">Search</button>
            <li class="nav-item ms-auto" style="padding-left: 50px">
              <img src="{% static 'img/moon.svg' %}" id="icon" />
            </li>
          </form>
        </li>
      </div>
      {% endif %}
    </ul> 
    <hr />
    {% endcomment %}


    
    {% block body %} {% endblock %}
  </body>

  <footer class="footer_text">
    <br />
    <div class="footer">
      <p class="text-center">
        <a class="footer_text" href="{% url 'index' %}">Home 🏠</a>
        |
        <a
          class="footer_text"
          data-bs-toggle="modal"
          data-bs-target="#aboutModal"
          >About Us 👋</a
        >
        |
        <a class="footer_text" data-bs-toggle="modal" data-bs-target="#faqModal"
          >FAQ ❔</a
        >
      </p>
      <p class="text-center footer_text">©Ravindu Udugampola 2022</p>
    </div>
  </footer>

  <div
    class="modal fade"
    id="aboutModal"
    role="dialog"
    tabindex="-1"
    aria-labelledby="aboutUsLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" id="aboutModalInner" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="aboutUsLabel">About Us 👋</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>
            From our humble beginnings in 2022, Bbay has grown to become the
            world's largest online 🌎 marketplace 🛒, where practically anyone
            👫 can bid to buy and sell 💲 practically anything. We offer the
            greatest selection of new and used goods, at great prices, and with
            a service that is second to none 😊.
          </p>
          <p>
            We are committed to providing our customers with the best possible
            online shopping experience 💯. We are constantly working to improve
            our site and our service, and we welcome your feedback 🔨. We hope
            you enjoy your shopping experience with us, and we look forward to
            serving you again soon 👋.
          </p>
          <p>
            <i
              >We're not like any other online marketplace. And we're proud of
              that.</i
            >
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-info btn-sm"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="faqModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="faqModalTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="faqModalTitle">
            <strong>FAQ ❔</strong>
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <ul>
            <li>
              <h6>How do I create a listing?</h6>
              <p>
                To create a listing, click on the <b>"Create Listing"</b> button
                on the navigation bar. Then, fill in the form with the required
                information and click on the <b>"Create"</b> button. Alternatively, 
                you can use the keyboard shortcut <b>"Alt + Ctrl + C"</b> to create a listing.
              </p>
            </li>
            <li>
              <h6>How do I add an item to my watchlist?</h6>
              <p>
                To add an item to your watchlist, click on the
                <b>"Add to Watchlist"</b> button on the listing page. To remove
                an item from your watchlist, click on the
                <b>"Remove from Watchlist"</b> button on the listing page.
              </p>
            </li>
            <li>
              <h6>How do I bid on an item?</h6>
              <p>
                To bid on an item, click on the <b>"Bid"</b> button on the
                listing page. Then, fill in the form with the required
                information and click on the <b>"Bid"</b> button.
              </p>
            </li>
            <li>
              <h6>How do I close a listing?</h6>
              <p>
                To close a listing, click on the <b>"Close Listing"</b> button
                on the listing page.
              </p>
            </li>
            <li>
              <h6>How do I comment on a listing?</h6>
              <p>
                To comment on a listing, click on the <b>"Comment"</b> button on
                the listing page. Then, fill in the form with the required
                information and click on the <b>"Comment"</b> button.
              </p>
            </li>
            <li>
              <h6>How do I view my watchlist?</h6>
              <p>
                To view your watchlist, click on the <b>"Watchlist"</b> button
                on the navigation bar.
              </p>
            </li>
            <li>
              <h6>How do I view my listings?</h6>
              <p>
                To view your listings, click on the <b>"My Listings"</b> button
                on the navigation bar.
              </p>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-info btn-sm"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</html>

<script>
  var icon = document.getElementById('icon');
  icon.onclick = function () {
    document.body.classList.toggle('darkmode');
    if (document.body.classList.contains('darkmode')) {
      icon.src = "{% static 'img/sun.svg' %}";
    } else {
      icon.src = "{% static 'img/moon.svg' %}";
    }
  };

  document.onkeyup = function(e) {
    if (e.ctrlKey && e.which == 67 && e.altKey) {
      window.location.href = "{% url 'create' %}";
      // alert("Ctrl + B shortcut combination was pressed");
    }
  };
</script>
