{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% comment %} <title>{% block title %}Auctions{% endblock %}</title> {% endcomment %}
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/25ae4408a9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}" defer></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link rel="icon" href="{% static 'img/bbay.ico' %}" />
  </head>

  <div class="mx-auto" style="position:absolute; z-index: 1000;" >
    {% if request.user.is_superuser %}
    <a class="btn btn-outline-danger btn-sm" style="padding: 0.2em" href="{% url 'admin:index' %}" target="_blank">Site Administration <i class="fa-solid fa-lock"></i></a>
    {% endif %}
 </div>

  <body class="body">
    <div class="ms-auto" style="color: white; margin-top: 0px">
      {% if user.is_authenticated %} Hi, &nbsp
        <a
        href="{% url 'user_profile' user.id %}"
        class="btn btn-warning btn-sm"
        style="padding: 0.5em; margin-bottom: 0.5em"
        role="button"
        ><b style="text-transform: capitalize; font-weight: bold"
          > {{ user.username }} &nbsp</b
        ><i class="fa-solid fa-user"></i></a>
        <p>
        <a class="btn btn-danger btn-sm" style="padding: 0.5em" href="{% url 'logout' %}">Log Out <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
      {% else %}
        <p>👋 Not Signed In.</p>
        <a class="btn btn-success btn-sm" style="padding: 0.5em" href="{% url 'login' %}">Log In <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
        <a class="btn btn-primary btn-sm" style="padding: 0.5em" href="{% url 'register' %}">Register <i class="fa-solid fa-user-plus"></i></a>
        </p>
      {% endif %}

       

    </div>
    <div>
      <a class="link" href="{% url 'index' %}"
      ><img class="logo_img" src="{% static 'img/bbay.png' %}" alt="logo" height="10 px" width="10 px" style="position:absolute; z-index: 1000; top: 0; margin-top: 10px" 
    /></a>
    {% comment %} <img data-toggle="tooltip" data-placement="top" title=" 💬 Welcome to Bbay 👋 I am the Auction Master!" data-html="true"
     class="logo_img" src="{% static 'img/master.png' %}" style="position:absolute; z-index: 1000; top: 0; height:200px; width: 180px" 
     alt="logo" height="10 px" width="10 px"/> {% endcomment %}
    </div>

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        {% comment %} <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'img/bbay.png' %}" alt="Logo" height="24" class="d-inline-block align-text-top">
        </a> {% endcomment %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link link" href="{% url 'index' %}"><i class="fa-solid fa-house"></i> &nbspHome </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link" href="{% url 'listings' %}"><i class="fa-solid fa-list"></i>&nbspActive Listings </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link" href="{% url 'categories' %}"><i class="fa-solid fa-tags"></i>&nbspCategories </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link link" href="{% url 'watchlist' %}"
                ><i class="fa-solid fa-binoculars"></i> &nbspWatchlist 
                <span
                  style="margin-left: 9px"
                  class="position-absolute top-10 start-30 translate-middle badge rounded-pill bg-danger"
                  >{{ request.session.watchlist_count }}
                </span> 
              </a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link link" style="margin-left: 10px" href="{% url 'create' %}"><i class="fa-solid fa-circle-plus"></i>&nbspCreate Listing </a>
            </li>
      
            <li class="nav-item dropdown link" style="z-index: 1000">
              <a
                class="nav-link dropdown-toggle link"
                id="navbarDarkDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              <i class="fa-solid fa-chart-column"></i>&nbspReports 
              </a>
              <ul
                class="dropdown-menu dropdown-menu-dark"
                aria-labelledby="navbarDarkDropdownMenuLink"
                >
                <li>
                  <a class="dropdown-item" href="{% url 'profits' %}">Profits 💰</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'expenses' %}">Expenses 💸</a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link link" style="margin-left: 10px" href="{% url 'mail-index' %}"><i class="fa-solid fa-envelope"></i>&nbspMail </a>
            </li>
            {% endif %} 

            <li class="nav-item">
              <a class="nav-link link" data-bs-toggle="modal" data-bs-target="#faqModal">
                <i class="fa-solid fa-circle-question"></i>&nbspFAQ </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link" data-bs-toggle="modal" data-bs-target="#aboutModal">
                <i class="fa-solid fa-circle-info"></i>&nbspAbout Us</a>
            </li>
            
          </ul>  
            
            {% if not request.path == '/' %}
            <ul class="navbar-nav">
              <li class="nav-item" >
                <form class="d-flex" action="{% url 'search' %}" method="GET" >
                  <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search for Listings...   🔎"
                    aria-label="Search"
                    name="q"
                  />
                  <button style="padding: 0.5em" class="btn btn-success" type="submit">Search</button>
                  <li class="nav-item ms-auto" style="padding-left: 50px">
                    <img src="{% static 'img/moon.svg' %}" id="icon" />
                  </li>
                </form>
              </li>
            </ul>
            {% endif %}
          
        </div>
      </div>
    </nav>
  <hr>
{% block body %} {% endblock %}
  </body>

  <footer class="footer_text">
    <br />
    <div class="footer">
      <p class="text-center">
        <a class="footer_text" href="{% url 'index' %}">Home 🏠</a>
        |
        <a
          class="footer_text"
          data-bs-toggle="modal"
          data-bs-target="#aboutModal"
          >About Us 👋</a
        >
        |
        <a class="footer_text" data-bs-toggle="modal" data-bs-target="#faqModal"
          >FAQ ❔</a
        >
      </p>
      <p class="text-center footer_text">©Ravindu Udugampola 2022</p>
    </div>
  </footer>

  <div
    class="modal fade"
    id="aboutModal"
    role="dialog"
    tabindex="-1"
    aria-labelledby="aboutUsLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" id="aboutModalInner" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-body modal-title fs-5" id="aboutUsLabel">About Us 👋</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>
            From our humble beginnings in 2022, Bbay has grown to become the
            world's largest online 🌎 marketplace 🛒, where practically anyone
            👫 can bid to buy and sell 💲 practically anything. We offer the
            greatest selection of new and used goods, at great prices, and with
            a service that is second to none 😊.
          </p>
          <p>
            We are committed to providing our customers with the best possible
            online shopping experience 💯. We are constantly working to improve
            our site and our service, and we welcome your feedback 🔨. We hope
            you enjoy your shopping experience with us, and we look forward to
            serving you again soon 👋.
          </p>
          <p>
            <i
              >We're not like any other online marketplace. And we're proud of
              that.</i
            >
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-info btn-sm"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="faqModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="faqModalTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-body modal-title" id="faqModalTitle">
            <strong>FAQ ❔</strong>
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          {% comment %} <ul> {% endcomment %}
              <p>
                <a class="btn btn-light btn-sm" style="padding: 0.5em; margin: 5px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);" data-bs-toggle="collapse" href="#create" role="button" aria-expanded="false" aria-controls="collapseExample">
                  How do I create a listing
                </a>
              </p>
              <div class="collapse" id="create">
                <div class="card card-body">
                    <div>To create a listing, click on the "Create Listing" button
                      on the navigation bar. Then, fill in the form with the required
                      information and click on the "Create" button. Alternatively, 
                      you can use the keyboard shortcut <img src="{% static 'img/alt-key.svg' %}" id="icon" /> + 
                    <img src="{% static 'img/ctrl-key.svg' %}" id="icon" />  + 
                    <img src="{% static 'img/c-key.svg' %}" id="icon" /> to create a listing.</div> 
                </div>
              </div>
            
              <p>
                <a class="btn btn-light btn-sm" style="padding: 0.5em; margin: 5px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);" data-bs-toggle="collapse" href="#watchlist" role="button" aria-expanded="false" aria-controls="collapseExample">
                  How do I add an item to my watchlist?
                </a>
              </p>
              <div class="collapse" id="watchlist">
                  <div class="card card-body">
                      To add an item to your watchlist, click on the
                      "Add to Watchlist" button on the listing page. To remove
                      an item from your watchlist, click on the
                      "Remove from Watchlist" button on the listing page.
                  </div>
                </div>
          
              <p>
                <a class="btn btn-light btn-sm" style="padding: 0.5em; margin: 5px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);" data-bs-toggle="collapse" href="#bid" role="button" aria-expanded="false" aria-controls="collapseExample">
                  How do I bid on an item?
                </a>
              </p>
              <div class="collapse" id="bid">
                  <div class="card card-body">
                    To bid on an item, click on the "Bid" button on the
                    listing page. Then, fill in the form with the required
                    information and click on the "Bid" button.
                  </div>
                </div>
           
                <p>
                  <a class="btn btn-light btn-sm" style="padding: 0.5em; margin: 5px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);" data-bs-toggle="collapse" href="#close" role="button" aria-expanded="false" aria-controls="collapseExample">
                    How do I close a listing?
                  </a>
                </p>
                <div class="collapse" id="close">
                    <div class="card card-body">
                      To close a listing, click on the "Close Listing" button
                      on the listing page.
                    </div>
                </div>
            
              <p>
                <a class="btn btn-light btn-sm" style="padding: 0.5em; margin: 5px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);" data-bs-toggle="collapse" href="#comment" role="button" aria-expanded="false" aria-controls="collapseExample">
                  How do I comment on a listing?
                </a>
              </p>
              <div class="collapse" id="comment">
                  <div class="card card-body">
                    To comment on a listing, click on the "Comment" button on
                    the listing page. Then, fill in the form with the required
                    information and click on the "Comment" button.
                  </div>
                </div>
            
              <p>
                <a class="btn btn-light btn-sm" style="padding: 0.5em; margin: 5px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);" data-bs-toggle="collapse" href="#watch" role="button" aria-expanded="false" aria-controls="collapseExample">
                  How do I view my watchlist?
                </a>
              </p>
              <div class="collapse" id="watch">
                  <div class="card card-body">
                    To view your watchlist, click on the "Watchlist" button
                on the navigation bar.
                  </div>
                </div>
           
              <p>
                <a class="btn btn-light btn-sm" style="padding: 0.5em; margin: 5px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);" data-bs-toggle="collapse" href="#view" role="button" aria-expanded="false" aria-controls="collapseExample">
                  How do I view my listings?
                </a>
              </p>
              <div class="collapse" id="view">
                  <div class="card card-body">
                    To view your listings, click on the "My Listings" button
                on the navigation bar.
                  </div>
                </div>
            
                <p>
                  <a class="btn btn-light btn-sm" style="padding: 0.5em; margin: 5px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);" data-bs-toggle="collapse" href="#win" role="button" aria-expanded="false" aria-controls="collapseExample">
                    What happens when I win the auction listing?
                  </a>
                </p>
                <div class="collapse" id="win">
                    <div class="card card-body">
                      When the listing is closed, the highest bidder wins the auction 
                    and pays for the item. Remember, a bid is a binding contract. 
                    When you bid on an item in an auction, you're committing to buy it if you win.
                    </div>
                </div>
          {% comment %} </ul> {% endcomment %}
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-info btn-sm"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</html>