{% extends "auctions/layout.html" %} 
{% load static %}
{% block body %}
{% load humanize %}
{% include 'auctions/messages.html' %}

<div >
    {% if listings|length > 0 %}
        <div >
            <h2>{{ title }}</h2> 
        </div>
    {% else %}
        <div>
            <h2>No Listings</h2>
        </div>
    {% endif %}
</div>

<hr />
    {% for listing in page_obj %}
        <div class="row">
            <div class="listings card">
                <div class="row no-gutters">
                    <div class="col-sm-6">
                        <img class="item_image" class="card-img-top" src="{{ listing.image.url }}" alt="Image" />
                    </div>
                    <div class="col-sm-6">
                        <div class="card-body">
                                <a href="{% url 'listing' listing.id %}" class="link">
                                    <h5 class="card-title" style="text-transform: capitalize">{{ listing.title }} 
                                    {% if listing.active %}
                                        <span class="badge" style="background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d;">NEW </span></h5>
                                    {% else %}
                                        <span class="badge" style="background-color: #fff3cd;border-color: #ffecb5;color: #664d03;">CLOSED</span></h5>
                                    {% endif %}

                                </a>
                                <p class="card-text" style="text-transform:first-letter: capitalize">{{ listing.description | safe}}</p>
                                {% if listing.bid_current is None %}
                                    <h4 class="card-title price">USD ${{ listing.bid_start |floatformat:2|intcomma}}</h4>
                                {% else %}
                                    <h4 class="card-title price" id="price" >USD ${{ listing.bid_current |floatformat:2|intcomma}}</h4>
                                {% endif %}
                                <p>
                                    <footer class="footer_text card-footer"><small>Created on {{ listing.created_date|date:"M, d, Y g:i a" }}</small></footer>                        <div class="col-sm-3 ms-auto">
                            {% if user.is_authenticated %}
                                <a data-toggle="tooltip" data-placement="top" title="Add this Listing to Watchlist." class="btn btn-danger btn-sm" style="padding: 0.5em"
                                href="{% url 'update_watchlist' listing.id 'listings' %}" role="button">
                            {% else %}
                                <a href="{% url 'login' %}" class="card-link">
                            {% endif %}
                                
                            
                            {% if user.is_authenticated %}
                                {% if listing.watched %}
                                    Remove from watchlist
                                {% else %}
                                    Add to watchlist
                                {% endif %}
                            {% endif %}

                            </a>
                        </div>
                                <p>
                        </div>
                    

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">                
            {% comment %} First page always {% endcomment %}
            <li class="page-item {% if page_obj.has_previous %}{% endif %}">
                <a class="page-link" href="?page=1">First</a>

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa-solid fa-angles-left"></i></span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true"><i class="fa-solid fa-angles-right"></i></span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
            {% comment %} Last page always {% endcomment %}
            <li class="page-item {% if page_obj.has_next %}{% endif %}">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>

        </ul>
    </nav>
{% endblock %}
