{% extends "auctions/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block body %}
{% include 'auctions/messages.html' %}

        <div class="card">
            
            <div class="card-body">
                <div class="hstack gap-3">
                    <div>
                        <h5 class="card-title h1" style="text-transform: capitalize">
                            {{ listing.title }}
                            <ul class="tags">
                                {% for tag in listing.tags.all %}
                                    <li class="tag">{{ tag }}</li>
                                {% endfor %}
                            </ul>
                        </h5>

                    </div>

                    
                    <div class="ms-auto">
                        <div class="btn-group">
                            <button 
                            data-toggle="tooltip" data-placement="top" title="Additional Listing Options" 
                            class="btn btn-success btn-sm" style="padding: 0.5em; margin-bottom: 10px" type="button"><i class="fa-solid fa-cog fa-spin"></i>&nbsp
                              Options
                            </button>
                            <button type="button" class="btn btn-sm btn-success dropdown-toggle dropdown-toggle-split" 
                            style="padding: 0.5em; margin-bottom: 10px" data-bs-toggle="dropdown" aria-expanded="false">
                              <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                {% if  listing.creator == user and listing.active %}
                                <li><a class="dropdown-item" data-toggle="tooltip" data-placement="top" data-bs-toggle="modal" 
                                    data-bs-target="#closer" title="Close this Listing."  
                                    href="{% url 'auctions:close_listing' listing.id %}"><i class="fa-solid fa-check"></i>&nbsp&nbspClose Listing</a></li>

                                <li><a data-toggle="tooltip" data-bs-toggle="modal" data-bs-target="#delete" data-placement="top" title="Delete this Listing." 
                                    class="dropdown-item" href="{% url 'auctions:delete_listing' listing.id %}"> <i class="fa-solid fa-trash"></i>&nbsp&nbspDelete Listing</a></li>

                                <li><a data-toggle="tooltip" data-placement="top" title="Edit this Listing." 
                                    class="dropdown-item" href="{% url 'auctions:edit_listing' listing.id %}"><i class="fa-solid fa-pen-to-square"></i>&nbsp&nbspEdit Listing</a></li>
                                {% endif %}
                            
                                {% if  listing.creator != user and listing.active %}
                                    <li>
                                        <a data-toggle="tooltip" data-placement="top" title="Report this Listing." 
                                        class="dropdown-item" href="{% url 'auctions:reportListing' listing.id %}"><i class="fa-solid fa-flag"></i>&nbsp&nbspReport Listing</a>
                                    </li>
                                {% endif %}
                            </ul>
                          </div>
                    </div>
                </div>

                <div>
                    <img class="listing_image" src="{{ listing.image.url }}" alt="Image" />         
                </div>  

                
                {% if user.is_authenticated %}
                <a data-toggle="tooltip" data-placement="top" title="Add this Listing to Watchlist." class="btn btn-danger btn-sm rounded-pill" style="padding: 0.5em; margin-bottom: 10px"
                    href="{% url 'auctions:update_watchlist' listing.id 'auctions:listing' %}" role="button">
                    
                    {% else %}
                        <a href="{% url 'auctions:login' %}" class="card-link">
                    {% endif %}
                        
                    {% if listing.watched %}
                        Remove from watchlist&nbsp<i class="fa-regular fa-eye-slash"></i>
                    {% else %}
                        Add to watchlist&nbsp<i class="fa-regular fa-eye"></i>
                    {% endif %}
                </a>
                <form action= "{% url 'auctions:like_listing' listing.pk  %}" method="POST" style="margin-bottom: 10px; margin-top: 10px">
                    {% csrf_token %}
                    {% if liked%}
                        <button class="like_dislike" type="submit" name="listing_id" value="{{ listing.id }}"><i class="fa fa-thumbs-down faa-bounce faa-reverse animated-hover faa-fast"></i></i></button>
                    {% else %}
                        <button class="like_dislike" type="submit" name="listing_id" value="{{ listing.id }}"><i class="fa fa-thumbs-up faa-bounce animated-hover faa-fast"></i></button>
                    {% endif %}
                    - Likes: {{ total_likes }}
                </form>
                <div>
                    <div>
                        <form class="rate-form" action="" method="POST" id={{listing.pk}}>
                            {% csrf_token %}
                            <button type="submit" class="fa fa-star star-btn" id="first"></button>
                            <button type="submit" class="fa fa-star star-btn" id="second"></button>
                            <button type="submit" class="fa fa-star star-btn" id="third"></button>
                            <button type="submit" class="fa fa-star star-btn" id="fourth"></button>
                            <button type="submit" class="fa fa-star star-btn" id="fifth"></button>
                        </form>
                    </div>
                    <div id="confirm-box"></div>
                </div>

                <p>
            
                <p class="card-text" style="text-transform:first-letter: capitalize">{{ listing.description | safe}}</p>

                {% if listing.bid_current is None %}
                    <p class="card-text price">Starting price: ${{ listing.bid_start |floatformat:2|intcomma}}</p>
                {% endif %}

                <p class="card-text">
                    Listed By:&nbsp<a href="{% url 'auctions:user_profile' listing.creator.id %}" class="btn btn-warning btn-sm rounded-pill" style="padding: 0.5em" role="button"><b style="text-transform: capitalize; font-weight: bold">{{ listing.creator }}</b></a>
                </p>


                
                <p>
                    <span class="badge rounded-pill text-bg-info">
                        <span class="card-text">Category: {{ listing.category }}</span>
                    </span>
                </p>
                
                {% if listing.bid_current is None %}
                    {% if listing.creator != user  %}
                        <p class="card-text">Make the initial bid!</p>
                    {% endif %}                
                {% elif listing.buyer is not None %}
                    {% if listing.creator == user %}
                        <p class="card-text price">You've sold this item to {{listing.buyer}} for ${{ listing.bid_current |floatformat:2|intcomma}}</p>
                    {% elif listing.buyer == user %}
                        <p class="card-text">You've won this auction!</p>
                    {% else %}   
                        <p class="card-text">This item is already sold</p>
                    {% endif %}
                {% else %}
                    <p class="card-text price">Current price: ${{ listing.bid_current |floatformat:2|intcomma}}</p>
                {% endif %}
                
                {% if listing.active and listing.creator != user %}
                    <div class="form-group form-control" style="width: 370px">
                        <form action="{% url 'auctions:bid' listing.id %}" method="post">
                            {% csrf_token %}
                            {{ form_bid }}        
                            <input type = submit value="Bid Now!" class="btn btn-warning btn-sm rounded-pill" style="padding: 0.5em">
                        </form>                    
                    </div>            
                {% endif %}

                {% if min_error %}
                    <p class="card-text">
                        {% if listing.bid_current %}
                            <div class="alert alert-warning" role="alert">Error 💥: Your bid must be bigger than {{ listing.bid_current|default:listing.bid_start |floatformat:2|intcomma}}</div>
                        {% else %}
                            <div class="alert alert-warning" role="alert">Error 💥: Your bid must be equal or bigger than {{ listing.bid_current|default:listing.bid_start |floatformat:2|intcomma}}</div>
                        {% endif %}
                    </p>
                {% endif %}

                <div class="modal fade" id="closer" tabindex="-1" aria-labelledby="closer" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="closer">Close Listing ❗ </h5>
                          <button type="button" class="btn-close rounded-pill" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           Are you sure want to close this listing? The item will be sold to the highest bidder!
                        </div>
                        <div class="modal-footer">
                          <button type="button" style="padding: 0.5em" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                          <a class="btn btn-danger btn-sm" style="padding: 0.5em" href="{% url 'auctions:close_listing' listing.id %}" role="button">Close Listing</a> 
                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="delete">Delete Listing ❗</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure want to delete this listing?
                        </div>
                        <div class="modal-footer">
                          <button type="button" style="padding: 0.5em" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                          <a data-toggle="tooltip" data-placement="top" title="Delete this Listing from Bbay."class="btn btn-danger btn-sm" 
                          style="padding: 0.5em" href="{% url 'auctions:delete_listing' listing.id %}" role="button">Delete Listing</a>
                        </div>
                      </div>
                    </div>
                </div>
                <footer class="footer_text card-footer"><small>Created on {{ listing.created_date|date:"M, d, Y g:i a" }}</small></footer>
                <hr/>
            </button>
        </div>
        

        {% comment %} <div class="card" style="width: 95%; margin: 0.5% auto; padding: 0.5%" > {% endcomment %}
            
            {% if listing.active %}

                  <div class="row d-flex justify-content-center">
                    
                    <div class="col-md-10 col-lg-8 col-xl-6">
                        <h4>Comments <i class="fa-regular fa-comment"></i></h4>
                      <div class="card">
                        
                        <div class="card-body p-4">
                          <div class="d-flex flex-start w-100">
                            <img class="rounded-circle shadow-1-strong me-3"
                            src="{{ userProfile.avatar.url }}" alt="avatar" width="65"
                              height="65" />
                            <div class="w-100">
                              <h5>Add a comment</h5>
                              <div class="form-outline">
                                <form action="{% url 'auctions:comment' listing.id %}" method="post">
                                    {% csrf_token %}
                                    {{ form_comment.comment }}       
                                    <br> 
                                    <button type="submit" value="Comment" class="btn btn-success" style="padding: 0.5em; margin-bottom: 10px">
                                        Send <i class="fas fa-long-arrow-alt-right ms-1"></i>
                                    </button>
                                </form> 
                              </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% if comments %}
                      <div class="container my-2 py-2">
                        <div class="row d-flex justify-content-center">
                          <div class="col-md-12 col-lg-10">
                            <div class="card text-dark">
                              
                                
                              <div class="card-body p-4">
                                <h4 class="mb-0">Recent comments</h4>
                                <p class="fw-light mb-4 pb-2">Latest Comments Section by Users</p>
                    
                                <div class="d-flex flex-start">
                                  <img class="rounded-circle shadow-1-strong me-3"
                                    src="{{ comments.0.get_user_profile_avatar.url }}" alt="avatar" width="65"
                                    height="60" /> 
                                  <div>
                                    <h6 class="fw-bold mb-1">{{ comments.0.user|default:"Unknown auctor" }}</h6>
                                    <div class="d-flex align-items-center mb-3">
                                      <p class="mb-0">
                                        {{ comments.0.created_date|date:"M, d, Y g:i a" }}
                                      </p>
                                      <a href="#!" class="link-danger"><i class="fas fa-heart ms-2"></i></a>
                                    </div>
                                    <p class="mb-0">
                                        {{ comments.0.comment }}
                                    </p>
                                    
                                    <div class="comment-options d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                          <a href="#!" class="comment-options link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>132</a>
                                          <a href="#!" class="comment-options link-muted"><i class="fas fa-thumbs-down me-1"></i>15</a>
                                        </div>
                                        <a href="#!" class="comment-options link-muted"><i class="fas fa-reply me-1"></i> Reply</a>
                                    </div>
                                    </div>

                                </div>
                                
                              </div>

                              
                    
                              <hr class="my-0" />
                              {% for comment in comments|slice:"1:" %}   
                              <div class="card-body p-4">
                                <div class="d-flex flex-start">
                                  <img class="rounded-circle shadow-1-strong me-3"
                                  src="{{ comment.get_user_profile_avatar.url }}" alt="avatar" width="60"
                                    height="60" /> 
                                  <div>
                                    <h6 class="fw-bold mb-1">{{ comment.user|default:"Unknown auctor" }}</h6>
                                    <div class="d-flex align-items-center mb-3">
                                      <p class="mb-0">
                                        {{ comment.created_date|date:"M, d, Y g:i a" }}
                                      </p>
                                      <a href="#!" class="link-danger"><i class="fas fa-heart ms-2"></i></a>
                                    </div>
                                    <p class="mb-0">
                                        {{ comment.comment }}
                                    </p>
                                    <div class="comment-options d-flex">
                                        <div class="d-flex align-items-center">
                                            <a href="#!" class="comment-options link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>132</a>
                                            <a href="#!" class="comment-options link-muted"><i class="fas fa-thumbs-down me-1"></i>15</a>
                                        </div>
                                        <a href="#!" class="comment-options link-muted"><i class="fas fa-reply me-1"></i> Reply</a>
                                    </div>
                                  </div>
                                </div>
                                
                              </div>
                              <hr class="my-0" />
                              {% endfor %}
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              {% endif %}         
            {% endif %}         
          </div>
        </div>
    </div>
{% endblock %}