{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}

    {% if messages %}
        <div class="flex">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% comment %} <div class="flex listings"> {% endcomment %}
    {% comment %} <div class="row"> {% endcomment %}
        <div class="card">
            
            <div class="card-body">
                <h5 class="card-title h1">
                    {{ listing.title }}
                </h5>
                <div>
                    <img class="listing_image" src="{{ listing.image.url }}" alt="Image" />         
                </div>  
                {% if user.is_authenticated %}
                <a data-toggle="tooltip" data-placement="top" title="Add this Listing to Watchlist." class="btn btn-danger btn-sm" href="{% url 'update_watchlist' listing.id 'listings' %}" role="button">
                    {% else %}
                        <a href="{% url 'login' %}" class="card-link">
                    {% endif %}
                        
                    {% if listing.watched %}
                        Remove from watchlist
                    {% else %}
                        Add to watchlist
                    {% endif %}
                </a>

                <p>
            
                <p class="card-text">{{ listing.description }}</p>

                {% if listing.bid_current is None %}
                    <p class="card-text price">Starting price: ${{ listing.bid_start |floatformat:2|intcomma}}</p>
                {% endif %}

                <p class="card-text">Listed By: {{ listing.creator }}</p>
                <p class="card-text">Category: {{ listing.category }}</p>
                
                {% if listing.bid_current is None %}
                    {% if listing.creator != user  %}
                        <p class="card-text">Make the initial bid!</p>
                    {% endif %}                
                {% elif listing.buyer is not None %}
                    {% if listing.creator == user %}
                        <p class="card-text price">You've sold this item to {{listing.buyer}} for ${{ listing.bid_current |floatformat:2|intcomma}}</p>
                    {% elif listing.buyer == user %}
                        <p class="card-text">You've won this auction!</p>
                    {% else %}   
                        <p class="card-text">This item is already sold</p>
                    {% endif %}
                {% else %}
                    <p class="card-text price">Current price: ${{ listing.bid_current |floatformat:2|intcomma}}</p>
                {% endif %}
                
                {% if listing.active and listing.creator != user %}
                    <div class="form-group">
                        <form action="{% url 'bid' listing.id %}" method="post">
                            {% csrf_token %}
                            {{ form }}        
                            <input type = submit value="Bid Now!">
                        </form>                    
                    </div>            
                {% endif %}

                {% if min_error %}
                    <p class="card-text">
                        {% if listing.bid_current %}
                            <div class="alert alert-warning" role="alert">Your bid must be bigger than {{ listing.bid_current|default:listing.bid_start |floatformat:2|intcomma}}</div>
                        {% else %}
                            <div class="alert alert-warning" role="alert">Your bid must be equal or bigger than {{ listing.bid_current|default:listing.bid_start |floatformat:2|intcomma}}</div>
                        {% endif %}
                    </p>
                {% endif %}

                {% comment %} Alert the user the listing will be sold to highest bidder before closing {% endcomment %}


                {% if  listing.creator == user and listing.active %}
                    <a data-toggle="tooltip" data-placement="top" title="Close this Listing." class="btn btn-danger btn-sm" href="{% url 'close_listing' listing.id %}" 
                    onclick="return confirm('❗ Are you sure want to close this listing? The item will be sold to the highest bidder!');"
                    role="button">Close Listing</a>
                {% endif %}

                {% if listing.creator == user and listing.active %}
                    <a data-toggle="tooltip" data-placement="top" title="Delete this Listing from Bbay."class="btn btn-danger btn-sm" href="{% url 'delete_listing' listing.id %}" 
                    onclick="return confirm('❗ Are you sure want to delete this listing?');" role="button">Delete Listing</a>
                {% endif %}

                {% comment %} Add a button to edit a listing if logged in user is the creator {% endcomment %}
                {% if listing.creator == user and listing.active %}
                    <a data-toggle="tooltip" data-placement="top" title="Edit this Listing." class="btn btn-danger btn-sm" href="{% url 'edit_listing' listing.id %}" role="button">Edit Listing</a>
                {% endif %}

                <br>
                <br>
                <footer class="footer_text card-footer"><small>Created on {{ listing.created_date|date:"M, d, Y g:i a" }}</small></footer>
            </div>
        </div>

        <div class="card">
            <h4>Comments</h4>
            {% if listing.active %}
                <div class="form-group">
                    <form action="{% url 'comment' listing.id %}" method="post">
                        {% csrf_token %}
                        {{ form_comment }}       
                        <br> 
                        <input type="submit" value="Comment">
                    </form> 
                </div>   
            {% endif %}         
            <hr/>
            
            {% for comment in comments %}   
            <div class="card">     
                    <div class="card-header">
                        {{ comment.user|default:"Unknown auctor" }} commented on {{ comment.createdDate|date:"M, d"  }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> {{ comment.comment }}</h5>                        
                    </div>
                    
                    <footer class="footer_text card-footer"><small>Created on {{ comment.created_date|date:"M, d, Y g:i a" }}</small></footer>
                <hr/>
            </div>
            {% endfor %}
        </div>

        <script type="text/javascript">
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
{% endblock %}