{% extends "auctions/layout.html" %}

{% block body %}
<div style="margin:0 auto; text-align:center"> 
    <h2>Login</h2>

    {% include 'auctions/messages.html' %}

    <form class="form-control" style="width: 380px;" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group" style="width: 350px">
            <input autofocus class="form-control" style="margin-top: 15px" type="text" name="username" placeholder="Username">
        </div>
        <br>
        <div class="form-group" style="width: 350px">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <br>
        <input class="btn btn-primary" style="margin-bottom: 15px" type="submit" value="Login">
        <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
    </form>
</div>

<script>
    setTimeout(function(){
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 2000)
</script> 
{% endblock %}