{% extends "auctions/layout.html" %} 
{% block body %}
{% load static %}
{% include 'auctions/messages.html' %}
{% load crispy_forms_tags %}  


<div style="margin:0 auto;">
    <form method="post" class="form-control" style="width: 450px">
        <h3 class="font-weight-bold mt-3" style="text-align:center">Password Reset Confirm</h3>
        <div class="container p-2">
            <p>Please enter your new password.</p>
                {% csrf_token %}
                {{ form|crispy }}       
                <div style="text-align:center; width: auto">             
                    <button  class="btn btn-success" style="padding: 0.5em; margin-top: 10px" type="submit" >Reset password</button>
                </div>
        </div>
    </form>
</div>

{% endblock %}