{% extends "auctions/layout.html" %} 
{% block body %}
{% load static %}
{% include 'auctions/messages.html' %}
{% load crispy_forms_tags %}  




<div style="margin:0 auto;">
    <form method="post" class="form-control" style="width: 450px; " >
        <h3 style="text-align:center"> Password Reset </h3>
        <p style="text-align:center"> Forgotten your password? Enter your email address below and we'll send 
            you a link to reset it. </p>
        {% csrf_token %}
        {{ form | crispy }}
        <div style="text-align:center; width: auto">
            <input type="submit" class="btn btn-success" style="padding: 0.5em; margin-top: 10px" name="Send email"> 
        </div>
    </form>
</div>

{% endblock %}