{% extends "auctions/layout.html" %} 
{% block body %}
{% load static %}
{% include 'auctions/messages.html' %}

<div style="margin:0 auto; text-align:center">
    <form class="form-control" style="width: 500px">
    <h3> Password Reset Email Sent </h3>
    <img src="{% static 'img/check.png' %}" style="height: 100px; margin-bottom: 10px" />


    <p> We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive it shortly. </p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    <p> If you still can't find it, please <a href="{% url 'reset_password' %}">try again</a>. </p>

    </form>
</div>


{% endblock %}