{% extends "auctions/layout.html" %} 
{% block body %}
{% load static %}
{% include 'auctions/messages.html' %}

<div style="margin:0 auto; text-align:center">
    <form class="form-control" style="width: 500px">
        <h3> Password Reset Complete </h3>
        <img src="{% static 'img/check.png' %}" style="height: 100px; margin-bottom: 10px" />

        <p> Your password has been set. You may go ahead and log in now. </p>

        <a href="/login">Log In</a>
    </form>
</div>

{% endblock %}