{% extends "auctions/layout.html" %} {% load static %}
{% block body %}
{% load humanize %}

<div id="spinner-box" class="text-center mt-5">
    <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status"></div>
  </div>
  
<div id="data-box" class="not-visible">
    <div class="nav">
        <div>
        <h1> Profit Report </h1>
        </div>
        <div  class="ms-auto">
            <form >
                <input
            id="printPageButton"
            type="image"
            value="Print me!"
            onClick="window.print()"
            src="{% static 'img/printer.svg' %}"
        />
            </form>
        </div>
    </div>

    <div class="table_profit_expense">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Profit</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for profit in profits %}
                <tr>
                    <td>{{ profit.user }}</td>
                    <td>$ {{ profit.profit | floatformat:2}}</td>
                    <td>{{ profit.date }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td><strong>Total Profits</strong></td>
                    <td><strong> $ {{ total | floatformat:2}} </strong></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <img class="graph" src="data:image/png;base64,{{ image }}">
</div>
{% endblock %}
