{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<div style="margin:0 auto; text-align:center"> 
    <h2>Register</h2>
    
    {% include 'auctions/messages.html' %}

    <form class="form-control " style="width: 380px;" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group " style="width: 350px; margin-bottom: 10px">
            <input class="form-control" style="margin-top: 10px" autofocus type="text" name="first_name" placeholder="First Name" required> 
        </div>

        <div class="form-group" style="width: 350px; margin-bottom: 10px">
            <input class="form-control" type="text" name="last_name" placeholder="Last Name" required> 
        </div>
        <div class="form-group" style="width: 350px; margin-bottom: 10px">
            <input class="form-control" type="text" name="username" placeholder="Username" required> 
        </div>
        <div class="form-group" style="width: 350px; margin-bottom: 10px">
            <input class="form-control" type="email" name="email" placeholder="Email Address" required>
        </div>
        <div class="form-group" style="width: 350px; margin-bottom: 10px">
            <input class="form-control" id="passwordFirst" type="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group" style="width: 350px; margin-bottom: 10px">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required>
        </div>
        <input class="btn btn-primary" style="margin-bottom: 10px" type="submit" value="Register">
        <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
    </form>

    <div class="col-md-4" id="passwordConfirm">
        <div class="aro-pswd_info">
            <div id="pswd_info">
                <h4>Password requirements</h4>
                <ul>
                    <li id="letter" class="invalid">At least <strong>one letter</strong></li>
                    <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
                    <li id="number" class="invalid">At least <strong>one number</strong></li>
                    <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                    <li id="space" class="invalid">be<strong> use [~,!,@,#,$,%,^,&,*,-,=,.,;,']</strong></li>
                </ul>
            </div>
        </div>
    </div>

</div>

{% endblock %}