{% extends "auctions/layout.html" %} {% block body %}
{% load humanize %}
{% load static %}
{% include 'auctions/messages.html' %}
{% comment %} Show user's first name, last name, email, date_joined. Give option to edit first name, last name and email. {% endcomment %}
<div class="container">
    <div class="row">
        <div class="col-5" style="margin:0 auto;">
            <div class="card">
                <div class="card-body">
                    {% comment %} add user image to right corner {% endcomment %}
                    <h5 class="card-title text-center">{{ search_user.first_name }} {{ search_user.last_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">{{ search_user.email }}</h6>
                    <p class="card-text text-center">Member since {{ search_user.date_joined|date:"F j, Y" }}</p>

                    {% comment %} Add a circular user image to the right of user info {% endcomment %}
                    <div class="text-center">
                        {% comment %} Add an option to update a new user image {% endcomment %}
                        <img src="{{ search_user.userprofile.avatar.url }}" alt="Avatar" class="rounded-circle float-right ms-auto" style="width: 100px; height: 100px; object-fit: cover;">

                        {% comment %} Give option to edit avatar upload image {% endcomment %}
                        <form action="{% url 'user_profile' user.id %}" method="POST" enctype="multipart/form-data" id="avatar-form">
                            {% csrf_token %}
                            <div class="form-group">
                                {% if search_user == user %}
                                <label for="avatar"> 
                                    <input type="file" name="avatar" id="avatar" style="display: none;" onchange="form.submit()" >
                                    <img src= "{% static 'img/edit_button.svg' %}" style="width: 30px; margin-left: 200px; float: top; ">
                                </label>
                                {% endif %}
                            </div>
                        </form>
                        
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>
    
{% comment %} Show user's listings. {% endcomment %}
{% if listings|length > 0 %}
    <h2 style="text-transform: capitalize">{{ search_user }}'s Listings</h2>
{% else %}
    <h2>No Listings</h2>
{% endif %}

<hr />
    {% for listing in listings %}
    <div class="row">
        <div class="listings card">
            <div class="row no-gutters">
                <div class="col-sm-6">
                    <img class="item_image" class="card-img-top" src="{{ listing.image.url }}" alt="Image" />
                </div>
                <div class="col-sm-6">
                    <div class="card-body">
                            <a href="{% url 'listing' listing.id %}" class="link">
                                <h5 class="card-title" style="text-transform: capitalize">{{ listing.title }} 
                                {% if listing.active %}
                                    <span class="badge" style="background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d;">NEW </span></h5>
                                {% else %}
                                    <span class="badge" style="background-color: #fff3cd;border-color: #ffecb5;color: #664d03;">CLOSED</span></h5>
                                {% endif %}

                            </a>
                            <p class="card-text" style="text-transform:first-letter: capitalize">{{ listing.description }}</p>
                            {% if listing.bid_current is None %}
                                <h4 class="card-title price">USD ${{ listing.bid_start |floatformat:2|intcomma}}</h4>
                            {% else %}
                                <h4 class="card-title price" id="price" >USD ${{ listing.bid_current |floatformat:2|intcomma}}</h4>
                            {% endif %}
                            <p>
                                <footer class="footer_text card-footer"><small>Created on {{ listing.created_date|date:"M, d, Y g:i a" }}</small></footer>                        <div class="col-sm-3 ms-auto">
                        {% if user.is_authenticated %}
                            <a data-toggle="tooltip" data-placement="top" title="Add this Listing to Watchlist." class="btn btn-danger btn-sm" style="padding: 0.5em"
                            href="{% url 'update_watchlist' listing.id 'listings' %}" role="button">
                        {% else %}
                            <a href="{% url 'login' %}" class="card-link">
                        {% endif %}
                            
                        
                        {% if user.is_authenticated %}
                            {% if listing.watched %}
                                Remove from watchlist
                            {% else %}
                                Add to watchlist
                            {% endif %}
                        {% endif %}

                        </a>
                    </div>
                            <p>
                    </div>
                

                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        setTimeout(function(){
            if ($('#msg').length > 0) {
                $('#msg').fadeOut();
            }
          }, 2000)
    </script>
{% endblock %}